@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
#supportCnt #top {
  height: 340px;
  position: relative;
}

#supportCnt #top .support_top_bg {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#supportCnt #top .support_top_bg div {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  text-align: center;
  color: white;
  display: -ms-grid;
  display: grid;
  place-items: center;
  overflow: hidden;
}

#supportCnt #top .support_top_bg div h1 {
  font-family: SFFedora;
  font-size: clamp(4rem, 4vw, 4rem);
  margin-bottom: 0 !important;
  -webkit-filter: drop-shadow(0 2px 2px black);
          filter: drop-shadow(0 2px 2px black);
}

#supportCnt #main .support_main_cnt {
  max-width: 1500px;
  width: 100%;
  margin-left: auto !important;
  margin-right: auto !important;
  margin-top: 120px;
  margin-bottom: 120px;
}

#supportCnt #main .support_main_cnt .support_main_cnt_box {
  border: 2px solid rgba(248, 248, 255, 0.418);
}

#supportCnt #main .support_main_cnt .support_main_cnt_box .support_main_cnt_row .support_main_cnt_side {
  height: 850px;
}

#supportCnt #main .support_main_cnt .support_main_cnt_box .support_main_cnt_row .support_main_cnt_side .support_main_bg {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#supportCnt #main .support_main_cnt .support_main_cnt_box .support_main_cnt_row .support_main_cnt_side .support_main_form {
  width: 100%;
  max-width: 95%;
  margin-left: auto !important;
  margin-right: auto !important;
  display: block;
}

#supportCnt #main .support_main_cnt .support_main_cnt_box .support_main_cnt_row .support_main_cnt_side .support_main_form .support_main_form_top {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
}

#supportCnt #main .support_main_cnt .support_main_cnt_box .support_main_cnt_row .support_main_cnt_side .support_main_form .support_main_form_top img {
  max-width: 90px;
}

#supportCnt #main .support_main_cnt .support_main_cnt_box .support_main_cnt_row .support_main_cnt_side .support_main_form .support_main_form_top h3 {
  font-family: SFFedora;
  color: #992c9d;
  text-transform: uppercase;
}

#supportCnt #main .support_main_cnt .support_main_cnt_box .support_main_cnt_row .support_main_cnt_side .support_main_form .support_main_form_bottom {
  width: 100%;
  display: block;
  height: 100%;
  padding-top: 60px;
  max-width: 90%;
  margin-left: auto !important;
  margin-right: auto !important;
}

#supportCnt #main .support_main_cnt .support_main_cnt_box .support_main_cnt_row .support_main_cnt_side .support_main_form .support_main_form_bottom .support_main_form_bottom_group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

#supportCnt #main .support_main_cnt .support_main_cnt_box .support_main_cnt_row .support_main_cnt_side .support_main_form .support_main_form_bottom .support_main_form_bottom_group:last-child {
  height: 150px !important;
}

#supportCnt #main .support_main_cnt .support_main_cnt_box .support_main_cnt_row .support_main_cnt_side .support_main_form .support_main_form_bottom .support_main_form_bottom_group .support_main_form_bottom_group_set {
  position: relative;
  width: 100%;
  max-width: 47%;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 100px;
}

#supportCnt #main .support_main_cnt .support_main_cnt_box .support_main_cnt_row .support_main_cnt_side .support_main_form .support_main_form_bottom .support_main_form_bottom_group .support_main_form_bottom_group_set span {
  position: absolute;
  z-index: 10;
  top: 5px;
  right: 10px;
  color: #992c9d;
  font-weight: 700;
  font-size: 18px;
}

#supportCnt #main .support_main_cnt .support_main_cnt_box .support_main_cnt_row .support_main_cnt_side .support_main_form .support_main_form_bottom .support_main_form_bottom_group .support_main_form_bottom_group_set input {
  position: absolute;
  width: 100%;
  height: 60px;
  padding: 10px;
  border: none;
  border-bottom: 2px solid ghostwhite;
  outline: none;
  font-family: "Poppins";
  font-weight: 700;
  font-size: 21px;
  cursor: url("http://basicallyeasy.com/NextJSCDNS/jotopia/clipart/arrow.gif"), pointer;
}

#supportCnt #main .support_main_cnt .support_main_cnt_box .support_main_cnt_row .support_main_cnt_side .support_main_form .support_main_form_bottom .support_main_form_bottom_group .support_main_form_bottom_group_set input::-webkit-input-placeholder {
  opacity: 0.5;
}

#supportCnt #main .support_main_cnt .support_main_cnt_box .support_main_cnt_row .support_main_cnt_side .support_main_form .support_main_form_bottom .support_main_form_bottom_group .support_main_form_bottom_group_set input:-ms-input-placeholder {
  opacity: 0.5;
}

#supportCnt #main .support_main_cnt .support_main_cnt_box .support_main_cnt_row .support_main_cnt_side .support_main_form .support_main_form_bottom .support_main_form_bottom_group .support_main_form_bottom_group_set input::-ms-input-placeholder {
  opacity: 0.5;
}

#supportCnt #main .support_main_cnt .support_main_cnt_box .support_main_cnt_row .support_main_cnt_side .support_main_form .support_main_form_bottom .support_main_form_bottom_group .support_main_form_bottom_group_set input::placeholder {
  opacity: 0.5;
}

#supportCnt #main .support_main_cnt .support_main_cnt_box .support_main_cnt_row .support_main_cnt_side .support_main_form .support_main_form_bottom .support_main_form_bottom_group .support_main_form_bottom_group_set textarea {
  resize: none;
  width: 100%;
  height: 100%;
  padding: 10px;
  border: none;
  border-bottom: 2px solid ghostwhite;
  outline: none;
  font-family: "Poppins";
  font-weight: 700;
  font-size: 18px;
  cursor: url("http://basicallyeasy.com/NextJSCDNS/jotopia/clipart/arrow.gif"), pointer;
}

#supportCnt #main .support_main_cnt .support_main_cnt_box .support_main_cnt_row .support_main_cnt_side .support_main_form .support_main_form_bottom .support_main_form_bottom_group .support_main_form_bottom_group_set textarea::-webkit-input-placeholder {
  opacity: 0.5;
}

#supportCnt #main .support_main_cnt .support_main_cnt_box .support_main_cnt_row .support_main_cnt_side .support_main_form .support_main_form_bottom .support_main_form_bottom_group .support_main_form_bottom_group_set textarea:-ms-input-placeholder {
  opacity: 0.5;
}

#supportCnt #main .support_main_cnt .support_main_cnt_box .support_main_cnt_row .support_main_cnt_side .support_main_form .support_main_form_bottom .support_main_form_bottom_group .support_main_form_bottom_group_set textarea::-ms-input-placeholder {
  opacity: 0.5;
}

#supportCnt #main .support_main_cnt .support_main_cnt_box .support_main_cnt_row .support_main_cnt_side .support_main_form .support_main_form_bottom .support_main_form_bottom_group .support_main_form_bottom_group_set textarea::placeholder {
  opacity: 0.5;
}

#supportCnt #main .support_main_cnt .support_main_cnt_box .support_main_cnt_row .support_main_cnt_side .support_main_form .support_main_form_bottom .support_main_form_bottom_group .support_main_form_bottom_group_set button {
  border: 2px solid #992c9d;
  padding: 10px;
  outline: none;
  width: 100%;
  display: block;
  font-family: "Poppins";
  font-weight: 700;
  font-size: 21px;
  text-transform: uppercase;
  margin: 3px;
  cursor: url("http://basicallyeasy.com/NextJSCDNS/jotopia/clipart/arrow.gif"), pointer;
}

#supportCnt #main .support_main_cnt .support_main_cnt_box .support_main_cnt_row .support_main_cnt_side .support_main_form .support_main_form_bottom .support_main_form_bottom_group .support_main_form_bottom_group_set button:first-child {
  color: white;
  background-color: #992c9d;
}

#supportCnt #main .support_main_cnt .support_main_cnt_box .support_main_cnt_row .support_main_cnt_side .support_main_form .support_main_form_bottom .support_main_form_bottom_group .support_main_form_bottom_group_set button:first-child:hover {
  background-color: #dd24e3;
  border-color: #dd24e3;
}

#supportCnt #main .support_main_cnt .support_main_cnt_box .support_main_cnt_row .support_main_cnt_side .support_main_form .support_main_form_bottom .support_main_form_bottom_group .support_main_form_bottom_group_set button:last-child {
  background-color: transparent;
  color: #992c9d;
}

#supportCnt #main .support_main_cnt .support_main_cnt_box .support_main_cnt_row .support_main_cnt_side .support_main_form .support_main_form_bottom .support_main_form_bottom_group .support_main_form_bottom_group_set button:last-child:hover {
  border-color: #dd24e3;
  color: #dd24e3;
}

#supportCnt #main .support_main_cnt .support_main_cnt_box .support_main_cnt_row .support_main_cnt_side .support_main_form .support_main_form_bottom .support_main_form_bottom_group #mainTextArea {
  max-width: 65% !important;
  display: block;
  height: 100%;
}

#supportCnt #main .support_main_cnt .support_main_cnt_box .support_main_cnt_row .support_main_cnt_side .support_main_form .support_main_form_bottom .support_main_form_bottom_group #mainBtns {
  width: 100%;
  max-width: 20%;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#supportCnt #main .support_main_cnt .support_main_cnt_box .support_main_cnt_row .support_main_cnt_side .support_main_socials_and_info {
  width: 100%;
  max-width: 95%;
  margin-left: auto !important;
  margin-right: auto !important;
  display: block;
  padding-top: 40px;
}

#supportCnt #main .support_main_cnt .support_main_cnt_box .support_main_cnt_row .support_main_cnt_side .support_main_socials_and_info .support_main_socials_and_info_top {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
}

#supportCnt #main .support_main_cnt .support_main_cnt_box .support_main_cnt_row .support_main_cnt_side .support_main_socials_and_info .support_main_socials_and_info_top img {
  max-width: 90px;
}

#supportCnt #main .support_main_cnt .support_main_cnt_box .support_main_cnt_row .support_main_cnt_side .support_main_socials_and_info .support_main_socials_and_info_top h3 {
  font-family: SFFedora;
  color: #992c9d;
  text-transform: uppercase;
}

#supportCnt #main .support_main_cnt .support_main_cnt_box .support_main_cnt_row .support_main_cnt_side .support_main_socials_and_info .support_main_socials_and_info_bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 30px;
}

#supportCnt #main .support_main_cnt .support_main_cnt_box .support_main_cnt_row .support_main_cnt_side .support_main_socials_and_info .support_main_socials_and_info_bottom .support_main_socials_and_info_bottom_side {
  max-width: 50%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#supportCnt #main .support_main_cnt .support_main_cnt_box .support_main_cnt_row .support_main_cnt_side .support_main_socials_and_info .support_main_socials_and_info_bottom .support_main_socials_and_info_bottom_side ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[2];
      grid-template-columns: repeat(2, auto);
  width: 100%;
  font-family: "Poppins";
  margin: 0 !important;
}

#supportCnt #main .support_main_cnt .support_main_cnt_box .support_main_cnt_row .support_main_cnt_side .support_main_socials_and_info .support_main_socials_and_info_bottom .support_main_socials_and_info_bottom_side ul li a {
  text-decoration: none;
  color: black;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 17px;
  cursor: url("http://basicallyeasy.com/NextJSCDNS/jotopia/clipart/arrow.gif"), pointer;
}

#supportCnt #main .support_main_cnt .support_main_cnt_box .support_main_cnt_row .support_main_cnt_side .support_main_socials_and_info .support_main_socials_and_info_bottom .support_main_socials_and_info_bottom_side ul li a span {
  margin-left: 10px;
}

#supportCnt #main .support_main_cnt .support_main_cnt_box .support_main_cnt_row .support_main_cnt_side .support_main_socials_and_info .support_main_socials_and_info_bottom .support_main_socials_and_info_bottom_side ul li a:hover {
  color: #992c9d;
}

#supportCnt #main .support_main_cnt .support_main_cnt_box .support_main_cnt_row .support_main_cnt_side .support_main_socials_and_info .support_main_socials_and_info_bottom .support_main_socials_and_info_bottom_side div {
  display: -ms-grid;
  display: grid;
  text-align: right;
  font-family: "Poppins";
  padding-right: 30px;
}

#supportCnt #main .support_main_cnt .support_main_cnt_box .support_main_cnt_row .support_main_cnt_side .support_main_socials_and_info .support_main_socials_and_info_bottom .support_main_socials_and_info_bottom_side div a {
  text-decoration: none;
  color: black;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 17px;
  cursor: url("http://basicallyeasy.com/NextJSCDNS/jotopia/clipart/arrow.gif"), pointer;
}

#supportCnt #main .support_main_cnt .support_main_cnt_box .support_main_cnt_row .support_main_cnt_side .support_main_socials_and_info .support_main_socials_and_info_bottom .support_main_socials_and_info_bottom_side div a:hover {
  color: #992c9d;
}

#supportCnt #main .support_main_cnt .support_main_cnt_box .support_main_cnt_row .support_main_cnt_side .support_main_socials_and_info .support_main_socials_and_info_bottom #sIL {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#supportCnt #main .support_main_cnt .support_main_cnt_box .support_main_cnt_row .support_main_cnt_side .support_main_socials_and_info .support_main_socials_and_info_bottom #sIR {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media all and (max-width: 1995px) {
  #supportCnt #top {
    height: 250px;
  }
  #supportCnt #top .support_top_bg div h1 {
    font-size: 50px;
  }
  #supportCnt #main .support_main_cnt {
    max-width: 97%;
  }
}

@media all and (max-width: 991px) {
  #supportCnt #top {
    height: 160px;
  }
  #supportCnt #top .support_top_bg div h1 {
    font-size: 32px;
  }
  #supportCnt #main .support_main_cnt {
    margin-top: 40px;
    margin-bottom: 40px;
    max-width: 95%;
  }
  #supportCnt #main .support_main_cnt .support_main_cnt_box .support_main_cnt_row .support_main_cnt_side {
    height: 780px;
  }
  #supportCnt #main .support_main_cnt .support_main_cnt_box .support_main_cnt_row .support_main_cnt_side .support_main_form {
    max-width: 90%;
  }
  #supportCnt #main .support_main_cnt .support_main_cnt_box .support_main_cnt_row .support_main_cnt_side .support_main_form .support_main_form_bottom .support_main_form_bottom_group {
    height: 80px;
  }
  #supportCnt #main .support_main_cnt .support_main_cnt_box .support_main_cnt_row .support_main_cnt_side .support_main_form .support_main_form_bottom .support_main_form_bottom_group:last-child {
    height: 140px !important;
  }
  #supportCnt #main .support_main_cnt .support_main_cnt_box .support_main_cnt_row .support_main_cnt_side .support_main_form .support_main_form_bottom .support_main_form_bottom_group .support_main_form_bottom_group_set input {
    font-size: 17px;
    height: 40px;
  }
  #supportCnt #main .support_main_cnt .support_main_cnt_box .support_main_cnt_row .support_main_cnt_side .support_main_form .support_main_form_bottom .support_main_form_bottom_group .support_main_form_bottom_group_set textarea {
    font-size: 17px;
  }
  #supportCnt #main .support_main_cnt .support_main_cnt_box .support_main_cnt_row .support_main_cnt_side .support_main_form .support_main_form_bottom #mainBtns button {
    font-size: 17px;
  }
  #supportCnt #main .support_main_cnt .support_main_cnt_box .support_main_cnt_row .support_main_cnt_side .support_main_socials_and_info {
    padding-top: 30px;
  }
  #supportCnt #main .support_main_cnt .support_main_cnt_box .support_main_cnt_row .support_main_cnt_side .support_main_socials_and_info .support_main_socials_and_info_bottom {
    padding-top: 10px;
  }
  #supportCnt #main .support_main_cnt .support_main_cnt_box .support_main_cnt_row .support_main_cnt_side .support_main_socials_and_info .support_main_socials_and_info_bottom .support_main_socials_and_info_bottom_side {
    max-width: 100%;
  }
  #supportCnt #main .support_main_cnt .support_main_cnt_box .support_main_cnt_row .support_main_cnt_side .support_main_socials_and_info .support_main_socials_and_info_bottom .support_main_socials_and_info_bottom_side div {
    text-align: left;
    padding-right: 0;
    padding-left: 30px;
  }
  #supportCnt #main .support_main_cnt .support_main_cnt_box .support_main_cnt_row .support_main_cnt_side .support_main_socials_and_info .support_main_socials_and_info_bottom #sIR {
    padding-top: 20px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media all and (max-width: 768px) {
  #supportCnt #top {
    height: 130px;
  }
  #supportCnt #top .support_top_bg div h1 {
    font-size: 29px;
  }
  #supportCnt #main .support_main_cnt {
    margin-top: 0px;
    margin-bottom: 40px;
    max-width: 100%;
  }
  #supportCnt #main .support_main_cnt .support_main_cnt_box {
    border: none !important;
  }
  #supportCnt #main .support_main_cnt .support_main_cnt_box .support_main_cnt_row #mainR {
    height: 120px;
  }
  #supportCnt #main .support_main_cnt .support_main_cnt_box .support_main_cnt_row #mainR .support_main_bg {
    background-position-y: -60px;
  }
  #supportCnt #main .support_main_cnt .support_main_cnt_box .support_main_cnt_row #mainL {
    height: 100%;
  }
  #supportCnt #main .support_main_cnt .support_main_cnt_box .support_main_cnt_row .support_main_cnt_side {
    width: 100%;
  }
  #supportCnt #main .support_main_cnt .support_main_cnt_box .support_main_cnt_row .support_main_cnt_side .support_main_form {
    max-width: 97%;
    padding-bottom: 50px;
  }
  #supportCnt #main .support_main_cnt .support_main_cnt_box .support_main_cnt_row .support_main_cnt_side .support_main_form .support_main_form_top {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 50px;
  }
  #supportCnt #main .support_main_cnt .support_main_cnt_box .support_main_cnt_row .support_main_cnt_side .support_main_form .support_main_form_top img {
    display: none;
  }
  #supportCnt #main .support_main_cnt .support_main_cnt_box .support_main_cnt_row .support_main_cnt_side .support_main_form .support_main_form_bottom {
    display: -ms-grid;
    display: grid;
    height: 100%;
  }
  #supportCnt #main .support_main_cnt .support_main_cnt_box .support_main_cnt_row .support_main_cnt_side .support_main_form .support_main_form_bottom .support_main_form_bottom_group {
    height: 100% !important;
    display: block;
  }
  #supportCnt #main .support_main_cnt .support_main_cnt_box .support_main_cnt_row .support_main_cnt_side .support_main_form .support_main_form_bottom .support_main_form_bottom_group:last-child {
    height: 100% !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #supportCnt #main .support_main_cnt .support_main_cnt_box .support_main_cnt_row .support_main_cnt_side .support_main_form .support_main_form_bottom .support_main_form_bottom_group:last-child .support_main_form_bottom_group_set {
    width: 100% !important;
    max-width: 100% !important;
  }
  #supportCnt #main .support_main_cnt .support_main_cnt_box .support_main_cnt_row .support_main_cnt_side .support_main_form .support_main_form_bottom .support_main_form_bottom_group .support_main_form_bottom_group_set {
    width: 100% !important;
    max-width: 100% !important;
    height: 60px;
  }
  #supportCnt #main .support_main_cnt .support_main_cnt_box .support_main_cnt_row .support_main_cnt_side .support_main_form .support_main_form_bottom .support_main_form_bottom_group .support_main_form_bottom_group_set input {
    font-size: 15px;
    height: 40px;
  }
  #supportCnt #main .support_main_cnt .support_main_cnt_box .support_main_cnt_row .support_main_cnt_side .support_main_form .support_main_form_bottom .support_main_form_bottom_group .support_main_form_bottom_group_set textarea {
    font-size: 15px;
  }
  #supportCnt #main .support_main_cnt .support_main_cnt_box .support_main_cnt_row .support_main_cnt_side .support_main_form .support_main_form_bottom .support_main_form_bottom_group #mainTextArea {
    max-width: 100% !important;
    width: 100% !important;
    height: 160px !important;
  }
  #supportCnt #main .support_main_cnt .support_main_cnt_box .support_main_cnt_row .support_main_cnt_side .support_main_form .support_main_form_bottom .support_main_form_bottom_group #mainBtns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 30px;
    max-width: 220px !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }
  #supportCnt #main .support_main_cnt .support_main_cnt_box .support_main_cnt_row .support_main_cnt_side .support_main_form .support_main_form_bottom .support_main_form_bottom_group #mainBtns button {
    font-size: 15px;
  }
  #supportCnt #main .support_main_cnt .support_main_cnt_box .support_main_cnt_row .support_main_cnt_side .support_main_socials_and_info {
    padding-top: 0px;
    padding-bottom: 10px;
  }
  #supportCnt #main .support_main_cnt .support_main_cnt_box .support_main_cnt_row .support_main_cnt_side .support_main_socials_and_info .support_main_socials_and_info_top {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 20px;
  }
  #supportCnt #main .support_main_cnt .support_main_cnt_box .support_main_cnt_row .support_main_cnt_side .support_main_socials_and_info .support_main_socials_and_info_top img {
    display: none;
  }
  #supportCnt #main .support_main_cnt .support_main_cnt_box .support_main_cnt_row .support_main_cnt_side .support_main_socials_and_info .support_main_socials_and_info_bottom {
    padding-top: 10px;
  }
  #supportCnt #main .support_main_cnt .support_main_cnt_box .support_main_cnt_row .support_main_cnt_side .support_main_socials_and_info .support_main_socials_and_info_bottom .support_main_socials_and_info_bottom_side {
    max-width: 100%;
  }
  #supportCnt #main .support_main_cnt .support_main_cnt_box .support_main_cnt_row .support_main_cnt_side .support_main_socials_and_info .support_main_socials_and_info_bottom .support_main_socials_and_info_bottom_side ul {
    -ms-grid-columns: (auto)[1];
        grid-template-columns: repeat(1, auto);
    text-align: center;
    padding: 0;
  }
  #supportCnt #main .support_main_cnt .support_main_cnt_box .support_main_cnt_row .support_main_cnt_side .support_main_socials_and_info .support_main_socials_and_info_bottom .support_main_socials_and_info_bottom_side div {
    text-align: center;
    padding-right: 0;
    padding-left: 0;
  }
  #supportCnt #main .support_main_cnt .support_main_cnt_box .support_main_cnt_row .support_main_cnt_side .support_main_socials_and_info .support_main_socials_and_info_bottom #sIR {
    padding-top: 40px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

/*! Pixel 2 XL */
@media only screen and (min-device-width: 411px) and (max-device-width: 823px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  #supportCnt #top {
    height: 140px;
  }
  #supportCnt #top .support_top_bg div h1 {
    font-size: 32px;
    margin-bottom: 0px !important;
  }
  #supportCnt #main .support_main_cnt {
    margin-bottom: 0;
  }
  #supportCnt #main .support_main_cnt .support_main_cnt_box .support_main_cnt_row .support_main_cnt_side {
    width: 100%;
  }
  #supportCnt #main .support_main_cnt .support_main_cnt_box .support_main_cnt_row .support_main_cnt_side .support_main_bg {
    background-position: top !important;
  }
  #supportCnt #main .support_main_cnt .support_main_cnt_box .support_main_cnt_row .support_main_cnt_side .support_main_form .support_main_form_top {
    padding-top: 30px;
  }
  #supportCnt #main .support_main_cnt .support_main_cnt_box .support_main_cnt_row .support_main_cnt_side .support_main_form .support_main_form_bottom {
    padding-top: 30px;
  }
  #supportCnt #main .support_main_cnt .support_main_cnt_box .support_main_cnt_row .support_main_cnt_side .support_main_form .support_main_form_bottom .support_main_form_bottom_group #mainTextArea {
    height: 140px !important;
  }
  #supportCnt #main .support_main_cnt .support_main_cnt_box .support_main_cnt_row .support_main_cnt_side .support_main_socials_and_info {
    padding-top: 0px;
  }
  #supportCnt #main .support_main_cnt .support_main_cnt_box .support_main_cnt_row .support_main_cnt_side .support_main_socials_and_info .support_main_socials_and_info_bottom {
    padding-top: 10px;
    padding-bottom: 0px;
  }
  #supportCnt #main .support_main_cnt .support_main_cnt_box .support_main_cnt_row .support_main_cnt_side .support_main_socials_and_info .support_main_socials_and_info_bottom .support_main_socials_and_info_bottom_side {
    max-width: 100%;
  }
  #supportCnt #main .support_main_cnt .support_main_cnt_box .support_main_cnt_row .support_main_cnt_side .support_main_socials_and_info .support_main_socials_and_info_bottom .support_main_socials_and_info_bottom_side ul {
    -ms-grid-columns: (auto)[2];
        grid-template-columns: repeat(2, auto);
    text-align: center;
    padding-left: 0px;
  }
  #supportCnt #main .support_main_cnt .support_main_cnt_box .support_main_cnt_row .support_main_cnt_side .support_main_socials_and_info .support_main_socials_and_info_bottom .support_main_socials_and_info_bottom_side div {
    text-align: center;
    padding-right: 0;
    padding-left: 0px;
  }
  #supportCnt #main .support_main_cnt .support_main_cnt_box .support_main_cnt_row .support_main_cnt_side .support_main_socials_and_info .support_main_socials_and_info_bottom #sIR {
    padding-top: 20px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #supportCnt #main .support_main_cnt .support_main_cnt_box .support_main_cnt_row #mainL {
    max-width: 70%;
  }
  #supportCnt #main .support_main_cnt .support_main_cnt_box .support_main_cnt_row #mainR {
    max-width: 30%;
    height: 835px;
  }
}

/*! Ipad */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  #supportCnt #top {
    height: 190px;
  }
  #supportCnt #top .support_top_bg div h1 {
    font-size: 37px;
    margin-bottom: 0px !important;
  }
  #supportCnt #main .support_main_cnt {
    margin-top: 0;
    margin-bottom: 0;
    max-width: 100%;
  }
  #supportCnt #main .support_main_cnt .support_main_cnt_box {
    max-width: 100%;
  }
  #supportCnt #main .support_main_cnt .support_main_cnt_box .support_main_cnt_row .support_main_cnt_side {
    width: 100%;
  }
  #supportCnt #main .support_main_cnt .support_main_cnt_box .support_main_cnt_row .support_main_cnt_side .support_main_bg {
    background-position: top !important;
  }
  #supportCnt #main .support_main_cnt .support_main_cnt_box .support_main_cnt_row .support_main_cnt_side .support_main_form .support_main_form_top {
    padding-top: 30px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-left: 0px;
  }
  #supportCnt #main .support_main_cnt .support_main_cnt_box .support_main_cnt_row .support_main_cnt_side .support_main_form .support_main_form_bottom {
    padding-top: 30px;
  }
  #supportCnt #main .support_main_cnt .support_main_cnt_box .support_main_cnt_row .support_main_cnt_side .support_main_form .support_main_form_bottom .support_main_form_bottom_group #mainTextArea {
    height: 140px !important;
  }
  #supportCnt #main .support_main_cnt .support_main_cnt_box .support_main_cnt_row .support_main_cnt_side .support_main_socials_and_info {
    padding-top: 10px;
  }
  #supportCnt #main .support_main_cnt .support_main_cnt_box .support_main_cnt_row .support_main_cnt_side .support_main_socials_and_info .support_main_socials_and_info_bottom {
    padding-top: 10px;
    padding-bottom: 0px;
  }
  #supportCnt #main .support_main_cnt .support_main_cnt_box .support_main_cnt_row .support_main_cnt_side .support_main_socials_and_info .support_main_socials_and_info_bottom .support_main_socials_and_info_bottom_side {
    max-width: 100%;
  }
  #supportCnt #main .support_main_cnt .support_main_cnt_box .support_main_cnt_row .support_main_cnt_side .support_main_socials_and_info .support_main_socials_and_info_bottom .support_main_socials_and_info_bottom_side ul {
    -ms-grid-columns: (auto)[2];
        grid-template-columns: repeat(2, auto);
    text-align: left;
    padding-left: 30px;
  }
  #supportCnt #main .support_main_cnt .support_main_cnt_box .support_main_cnt_row .support_main_cnt_side .support_main_socials_and_info .support_main_socials_and_info_bottom .support_main_socials_and_info_bottom_side div {
    text-align: left;
    padding-right: 0;
    padding-left: 30px;
  }
  #supportCnt #main .support_main_cnt .support_main_cnt_box .support_main_cnt_row .support_main_cnt_side .support_main_socials_and_info .support_main_socials_and_info_bottom #sIR {
    padding-top: 20px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  #supportCnt #main .support_main_cnt .support_main_cnt_box .support_main_cnt_row #mainL {
    max-width: 70%;
    height: 810px;
  }
  #supportCnt #main .support_main_cnt .support_main_cnt_box .support_main_cnt_row #mainR {
    max-width: 30%;
    height: 810px;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
  #supportCnt #top {
    height: 180px;
  }
  #supportCnt #top .support_top_bg div h1 {
    font-size: 37px;
    margin-bottom: 0px !important;
  }
  #supportCnt #main .support_main_cnt {
    margin-top: 0;
    margin-bottom: 0;
    max-width: 100%;
  }
  #supportCnt #main .support_main_cnt .support_main_cnt_box {
    max-width: 100%;
  }
  #supportCnt #main .support_main_cnt .support_main_cnt_box .support_main_cnt_row .support_main_cnt_side {
    width: 100%;
  }
  #supportCnt #main .support_main_cnt .support_main_cnt_box .support_main_cnt_row .support_main_cnt_side .support_main_bg {
    background-position: top !important;
  }
  #supportCnt #main .support_main_cnt .support_main_cnt_box .support_main_cnt_row .support_main_cnt_side .support_main_form .support_main_form_top {
    padding-top: 30px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-left: 10px;
  }
  #supportCnt #main .support_main_cnt .support_main_cnt_box .support_main_cnt_row .support_main_cnt_side .support_main_form .support_main_form_top img {
    max-width: 50px;
  }
  #supportCnt #main .support_main_cnt .support_main_cnt_box .support_main_cnt_row .support_main_cnt_side .support_main_form .support_main_form_top h3 {
    font-size: 23px;
  }
  #supportCnt #main .support_main_cnt .support_main_cnt_box .support_main_cnt_row .support_main_cnt_side .support_main_form .support_main_form_bottom {
    padding-top: 30px;
  }
  #supportCnt #main .support_main_cnt .support_main_cnt_box .support_main_cnt_row .support_main_cnt_side .support_main_form .support_main_form_bottom .support_main_form_bottom_group #mainTextArea {
    height: 140px !important;
  }
  #supportCnt #main .support_main_cnt .support_main_cnt_box .support_main_cnt_row .support_main_cnt_side .support_main_socials_and_info {
    padding-top: 0px;
  }
  #supportCnt #main .support_main_cnt .support_main_cnt_box .support_main_cnt_row .support_main_cnt_side .support_main_socials_and_info .support_main_socials_and_info_top {
    padding-top: 30px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-left: 10px;
  }
  #supportCnt #main .support_main_cnt .support_main_cnt_box .support_main_cnt_row .support_main_cnt_side .support_main_socials_and_info .support_main_socials_and_info_top img {
    max-width: 50px;
  }
  #supportCnt #main .support_main_cnt .support_main_cnt_box .support_main_cnt_row .support_main_cnt_side .support_main_socials_and_info .support_main_socials_and_info_top h3 {
    font-size: 23px;
  }
  #supportCnt #main .support_main_cnt .support_main_cnt_box .support_main_cnt_row .support_main_cnt_side .support_main_socials_and_info .support_main_socials_and_info_bottom {
    padding-top: 30px;
    padding-bottom: 0px;
  }
  #supportCnt #main .support_main_cnt .support_main_cnt_box .support_main_cnt_row .support_main_cnt_side .support_main_socials_and_info .support_main_socials_and_info_bottom .support_main_socials_and_info_bottom_side {
    max-width: 100%;
  }
  #supportCnt #main .support_main_cnt .support_main_cnt_box .support_main_cnt_row .support_main_cnt_side .support_main_socials_and_info .support_main_socials_and_info_bottom .support_main_socials_and_info_bottom_side ul {
    -ms-grid-columns: (auto)[2];
        grid-template-columns: repeat(2, auto);
    text-align: left;
    padding-left: 30px;
  }
  #supportCnt #main .support_main_cnt .support_main_cnt_box .support_main_cnt_row .support_main_cnt_side .support_main_socials_and_info .support_main_socials_and_info_bottom .support_main_socials_and_info_bottom_side div {
    text-align: left;
    padding-right: 0;
    padding-left: 30px;
  }
  #supportCnt #main .support_main_cnt .support_main_cnt_box .support_main_cnt_row .support_main_cnt_side .support_main_socials_and_info .support_main_socials_and_info_bottom #sIR {
    padding-top: 20px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  #supportCnt #main .support_main_cnt .support_main_cnt_box .support_main_cnt_row #mainL {
    max-width: 70%;
    height: 720px;
  }
  #supportCnt #main .support_main_cnt .support_main_cnt_box .support_main_cnt_row #mainR {
    max-width: 30%;
    height: 720px;
  }
}

/*! iPad Pro */
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  #supportCnt #top {
    height: 240px;
  }
  #supportCnt #top .support_top_bg div h1 {
    font-size: 45px;
    margin-bottom: 0px !important;
  }
  #supportCnt #main .support_main_cnt {
    margin-top: 0;
    margin-bottom: 0;
    max-width: 100%;
  }
  #supportCnt #main .support_main_cnt .support_main_cnt_box .support_main_cnt_row .support_main_cnt_side {
    width: 100%;
    height: 100%;
  }
  #supportCnt #main .support_main_cnt .support_main_cnt_box .support_main_cnt_row .support_main_cnt_side .support_main_bg {
    background-position: top !important;
  }
  #supportCnt #main .support_main_cnt .support_main_cnt_box .support_main_cnt_row .support_main_cnt_side .support_main_form .support_main_form_top {
    padding-top: 60px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-left: 10px;
  }
  #supportCnt #main .support_main_cnt .support_main_cnt_box .support_main_cnt_row .support_main_cnt_side .support_main_form .support_main_form_top img {
    max-width: 70px;
  }
  #supportCnt #main .support_main_cnt .support_main_cnt_box .support_main_cnt_row .support_main_cnt_side .support_main_form .support_main_form_top h3 {
    font-size: 27px;
  }
  #supportCnt #main .support_main_cnt .support_main_cnt_box .support_main_cnt_row .support_main_cnt_side .support_main_form .support_main_form_bottom {
    padding-top: 30px;
  }
  #supportCnt #main .support_main_cnt .support_main_cnt_box .support_main_cnt_row .support_main_cnt_side .support_main_form .support_main_form_bottom .support_main_form_bottom_group .support_main_form_bottom_group_set input {
    font-size: 21px;
  }
  #supportCnt #main .support_main_cnt .support_main_cnt_box .support_main_cnt_row .support_main_cnt_side .support_main_form .support_main_form_bottom .support_main_form_bottom_group .support_main_form_bottom_group_set textarea {
    font-size: 21px;
  }
  #supportCnt #main .support_main_cnt .support_main_cnt_box .support_main_cnt_row .support_main_cnt_side .support_main_form .support_main_form_bottom .support_main_form_bottom_group #mainTextArea {
    height: 100% !important;
  }
  #supportCnt #main .support_main_cnt .support_main_cnt_box .support_main_cnt_row .support_main_cnt_side .support_main_socials_and_info {
    padding-top: 0px;
  }
  #supportCnt #main .support_main_cnt .support_main_cnt_box .support_main_cnt_row .support_main_cnt_side .support_main_socials_and_info .support_main_socials_and_info_top {
    padding-top: 30px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-left: 10px;
  }
  #supportCnt #main .support_main_cnt .support_main_cnt_box .support_main_cnt_row .support_main_cnt_side .support_main_socials_and_info .support_main_socials_and_info_top img {
    max-width: 70px;
  }
  #supportCnt #main .support_main_cnt .support_main_cnt_box .support_main_cnt_row .support_main_cnt_side .support_main_socials_and_info .support_main_socials_and_info_top h3 {
    font-size: 27px;
  }
  #supportCnt #main .support_main_cnt .support_main_cnt_box .support_main_cnt_row .support_main_cnt_side .support_main_socials_and_info .support_main_socials_and_info_bottom {
    padding-top: 30px;
    padding-bottom: 0px;
  }
  #supportCnt #main .support_main_cnt .support_main_cnt_box .support_main_cnt_row .support_main_cnt_side .support_main_socials_and_info .support_main_socials_and_info_bottom .support_main_socials_and_info_bottom_side {
    max-width: 100%;
  }
  #supportCnt #main .support_main_cnt .support_main_cnt_box .support_main_cnt_row .support_main_cnt_side .support_main_socials_and_info .support_main_socials_and_info_bottom .support_main_socials_and_info_bottom_side ul {
    -ms-grid-columns: (auto)[2];
        grid-template-columns: repeat(2, auto);
    text-align: left;
    padding-left: 30px;
  }
  #supportCnt #main .support_main_cnt .support_main_cnt_box .support_main_cnt_row .support_main_cnt_side .support_main_socials_and_info .support_main_socials_and_info_bottom .support_main_socials_and_info_bottom_side ul li a {
    font-size: 21px;
  }
  #supportCnt #main .support_main_cnt .support_main_cnt_box .support_main_cnt_row .support_main_cnt_side .support_main_socials_and_info .support_main_socials_and_info_bottom .support_main_socials_and_info_bottom_side div {
    text-align: left;
    padding-right: 0;
    padding-left: 30px;
  }
  #supportCnt #main .support_main_cnt .support_main_cnt_box .support_main_cnt_row .support_main_cnt_side .support_main_socials_and_info .support_main_socials_and_info_bottom .support_main_socials_and_info_bottom_side div a {
    font-size: 21px;
  }
  #supportCnt #main .support_main_cnt .support_main_cnt_box .support_main_cnt_row .support_main_cnt_side .support_main_socials_and_info .support_main_socials_and_info_bottom #sIR {
    padding-top: 20px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  #supportCnt #main .support_main_cnt .support_main_cnt_box .support_main_cnt_row #mainL {
    max-width: 70%;
  }
  #supportCnt #main .support_main_cnt .support_main_cnt_box .support_main_cnt_row #mainR {
    max-width: 30%;
    height: 860px;
  }
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  #supportCnt #top {
    height: 220px;
  }
  #supportCnt #top .support_top_bg div h1 {
    font-size: 45px;
    margin-bottom: 0px !important;
  }
  #supportCnt #main .support_main_cnt {
    margin-top: 50px;
    margin-bottom: 50px;
    max-width: 90%;
  }
  #supportCnt #main .support_main_cnt .support_main_cnt_box .support_main_cnt_row .support_main_cnt_side {
    width: 100%;
    height: 100%;
  }
  #supportCnt #main .support_main_cnt .support_main_cnt_box .support_main_cnt_row .support_main_cnt_side .support_main_bg {
    background-position: top !important;
  }
  #supportCnt #main .support_main_cnt .support_main_cnt_box .support_main_cnt_row .support_main_cnt_side .support_main_form .support_main_form_top {
    padding-top: 60px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-left: 10px;
  }
  #supportCnt #main .support_main_cnt .support_main_cnt_box .support_main_cnt_row .support_main_cnt_side .support_main_form .support_main_form_top img {
    max-width: 75px;
  }
  #supportCnt #main .support_main_cnt .support_main_cnt_box .support_main_cnt_row .support_main_cnt_side .support_main_form .support_main_form_top h3 {
    font-size: 31px;
  }
  #supportCnt #main .support_main_cnt .support_main_cnt_box .support_main_cnt_row .support_main_cnt_side .support_main_form .support_main_form_bottom {
    padding-top: 30px;
  }
  #supportCnt #main .support_main_cnt .support_main_cnt_box .support_main_cnt_row .support_main_cnt_side .support_main_form .support_main_form_bottom .support_main_form_bottom_group .support_main_form_bottom_group_set input {
    font-size: 21px;
  }
  #supportCnt #main .support_main_cnt .support_main_cnt_box .support_main_cnt_row .support_main_cnt_side .support_main_form .support_main_form_bottom .support_main_form_bottom_group .support_main_form_bottom_group_set textarea {
    font-size: 21px;
  }
  #supportCnt #main .support_main_cnt .support_main_cnt_box .support_main_cnt_row .support_main_cnt_side .support_main_form .support_main_form_bottom .support_main_form_bottom_group #mainTextArea {
    height: 100% !important;
  }
  #supportCnt #main .support_main_cnt .support_main_cnt_box .support_main_cnt_row .support_main_cnt_side .support_main_socials_and_info {
    padding-top: 0px;
  }
  #supportCnt #main .support_main_cnt .support_main_cnt_box .support_main_cnt_row .support_main_cnt_side .support_main_socials_and_info .support_main_socials_and_info_top {
    padding-top: 30px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-left: 10px;
  }
  #supportCnt #main .support_main_cnt .support_main_cnt_box .support_main_cnt_row .support_main_cnt_side .support_main_socials_and_info .support_main_socials_and_info_top img {
    max-width: 70px;
  }
  #supportCnt #main .support_main_cnt .support_main_cnt_box .support_main_cnt_row .support_main_cnt_side .support_main_socials_and_info .support_main_socials_and_info_top h3 {
    font-size: 27px;
  }
  #supportCnt #main .support_main_cnt .support_main_cnt_box .support_main_cnt_row .support_main_cnt_side .support_main_socials_and_info .support_main_socials_and_info_bottom {
    padding-top: 30px;
    padding-bottom: 0px;
  }
  #supportCnt #main .support_main_cnt .support_main_cnt_box .support_main_cnt_row .support_main_cnt_side .support_main_socials_and_info .support_main_socials_and_info_bottom .support_main_socials_and_info_bottom_side {
    max-width: 100%;
  }
  #supportCnt #main .support_main_cnt .support_main_cnt_box .support_main_cnt_row .support_main_cnt_side .support_main_socials_and_info .support_main_socials_and_info_bottom .support_main_socials_and_info_bottom_side ul li a {
    font-size: 21px;
  }
  #supportCnt #main .support_main_cnt .support_main_cnt_box .support_main_cnt_row .support_main_cnt_side .support_main_socials_and_info .support_main_socials_and_info_bottom .support_main_socials_and_info_bottom_side div {
    text-align: left;
    padding-right: 0;
    padding-left: 30px;
  }
  #supportCnt #main .support_main_cnt .support_main_cnt_box .support_main_cnt_row .support_main_cnt_side .support_main_socials_and_info .support_main_socials_and_info_bottom .support_main_socials_and_info_bottom_side div a {
    font-size: 21px;
  }
  #supportCnt #main .support_main_cnt .support_main_cnt_box .support_main_cnt_row .support_main_cnt_side .support_main_socials_and_info .support_main_socials_and_info_bottom #sIR {
    padding-top: 20px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  #supportCnt #main .support_main_cnt .support_main_cnt_box .support_main_cnt_row #mainL {
    max-width: 70%;
    height: 750px;
  }
  #supportCnt #main .support_main_cnt .support_main_cnt_box .support_main_cnt_row #mainR {
    max-width: 30%;
    height: 850px !important;
  }
}

/*! Laptops */
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
  #supportCnt #top {
    height: 220px;
  }
  #supportCnt #top .support_top_bg div h1 {
    font-size: 45px;
    margin-bottom: 0px !important;
  }
  #supportCnt #main .support_main_cnt {
    margin-top: 50px;
    margin-bottom: 50px;
    max-width: 90%;
  }
  #supportCnt #main .support_main_cnt .support_main_cnt_box .support_main_cnt_row .support_main_cnt_side {
    width: 100%;
    height: 100%;
  }
  #supportCnt #main .support_main_cnt .support_main_cnt_box .support_main_cnt_row .support_main_cnt_side .support_main_bg {
    background-position: top !important;
  }
  #supportCnt #main .support_main_cnt .support_main_cnt_box .support_main_cnt_row .support_main_cnt_side .support_main_form .support_main_form_top {
    padding-top: 60px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-left: 10px;
  }
  #supportCnt #main .support_main_cnt .support_main_cnt_box .support_main_cnt_row .support_main_cnt_side .support_main_form .support_main_form_top img {
    max-width: 75px;
  }
  #supportCnt #main .support_main_cnt .support_main_cnt_box .support_main_cnt_row .support_main_cnt_side .support_main_form .support_main_form_top h3 {
    font-size: 31px;
  }
  #supportCnt #main .support_main_cnt .support_main_cnt_box .support_main_cnt_row .support_main_cnt_side .support_main_form .support_main_form_bottom {
    padding-top: 30px;
  }
  #supportCnt #main .support_main_cnt .support_main_cnt_box .support_main_cnt_row .support_main_cnt_side .support_main_form .support_main_form_bottom .support_main_form_bottom_group .support_main_form_bottom_group_set input {
    font-size: 21px;
  }
  #supportCnt #main .support_main_cnt .support_main_cnt_box .support_main_cnt_row .support_main_cnt_side .support_main_form .support_main_form_bottom .support_main_form_bottom_group .support_main_form_bottom_group_set textarea {
    font-size: 21px;
  }
  #supportCnt #main .support_main_cnt .support_main_cnt_box .support_main_cnt_row .support_main_cnt_side .support_main_form .support_main_form_bottom .support_main_form_bottom_group #mainTextArea {
    height: 100% !important;
  }
  #supportCnt #main .support_main_cnt .support_main_cnt_box .support_main_cnt_row .support_main_cnt_side .support_main_socials_and_info {
    padding-top: 0px;
  }
  #supportCnt #main .support_main_cnt .support_main_cnt_box .support_main_cnt_row .support_main_cnt_side .support_main_socials_and_info .support_main_socials_and_info_top {
    padding-top: 30px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-left: 10px;
  }
  #supportCnt #main .support_main_cnt .support_main_cnt_box .support_main_cnt_row .support_main_cnt_side .support_main_socials_and_info .support_main_socials_and_info_top img {
    max-width: 70px;
  }
  #supportCnt #main .support_main_cnt .support_main_cnt_box .support_main_cnt_row .support_main_cnt_side .support_main_socials_and_info .support_main_socials_and_info_top h3 {
    font-size: 27px;
  }
  #supportCnt #main .support_main_cnt .support_main_cnt_box .support_main_cnt_row .support_main_cnt_side .support_main_socials_and_info .support_main_socials_and_info_bottom {
    padding-top: 30px;
    padding-bottom: 0px;
  }
  #supportCnt #main .support_main_cnt .support_main_cnt_box .support_main_cnt_row .support_main_cnt_side .support_main_socials_and_info .support_main_socials_and_info_bottom .support_main_socials_and_info_bottom_side {
    max-width: 100%;
  }
  #supportCnt #main .support_main_cnt .support_main_cnt_box .support_main_cnt_row .support_main_cnt_side .support_main_socials_and_info .support_main_socials_and_info_bottom .support_main_socials_and_info_bottom_side ul li a {
    font-size: 21px;
  }
  #supportCnt #main .support_main_cnt .support_main_cnt_box .support_main_cnt_row .support_main_cnt_side .support_main_socials_and_info .support_main_socials_and_info_bottom .support_main_socials_and_info_bottom_side div {
    text-align: left;
    padding-right: 0;
    padding-left: 30px;
  }
  #supportCnt #main .support_main_cnt .support_main_cnt_box .support_main_cnt_row .support_main_cnt_side .support_main_socials_and_info .support_main_socials_and_info_bottom .support_main_socials_and_info_bottom_side div a {
    font-size: 21px;
  }
  #supportCnt #main .support_main_cnt .support_main_cnt_box .support_main_cnt_row .support_main_cnt_side .support_main_socials_and_info .support_main_socials_and_info_bottom #sIR {
    padding-top: 20px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  #supportCnt #main .support_main_cnt .support_main_cnt_box .support_main_cnt_row #mainL {
    max-width: 70%;
    height: 750px;
  }
  #supportCnt #main .support_main_cnt .support_main_cnt_box .support_main_cnt_row #mainR {
    max-width: 30%;
    height: 750px;
  }
}
/*# sourceMappingURL=Support.module.css.map */